*{
    font-family: sans-serif;
}
body{
    background-color: rgb(36, 36, 36);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}
header a{
    color: white;
    text-decoration: none;
    margin: 8px;
}
header a.active{
   color: rgb(255, 67, 67);
   text-decoration: underline;
}
header a:hover{
   color: rgb(255, 67, 67);
}
.logo{
    color: red;
    font-weight: bold;
    font-size: 35px;
}
.title{
    font-size: 50px;
    color: white;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
select{
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(70, 70, 70);
    border: none;
    color: rgb(165, 164, 164);
}
.top2 a{
    margin: 7px;
    color: white;
}
.grid{
    border-bottom: 2px solid red;
}
.p2{
    color: white;
    font-size: 25px;
    margin-left: 10px;
}
.tvshows{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
    padding: 15px;
}
.a{
    width: 400px;
    height: 230px;
    background: url(assets/t1.png);
    transition: all 0.3s;
    border-radius: 3px;
    font-weight: 600;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
}
.a:hover{
    width: 400px;
    height: 230px;
    border-radius: 3px;
    background: linear-gradient(rgba(46, 46, 46, 0.521), rgba(0,0,0.08)),url(assets/t1.png);
    color: rgb(255, 255, 255);
    background-size: contain;
}
.b{
    width: 400px;
    height: 230px;
    background: url(assets/t2.png);
    transition: all 0.3s;
    border-radius: 3px;
    font-weight: 600;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
}
.b:hover{
    width: 400px;
    height: 230px;
    border-radius: 3px;
    background: linear-gradient(rgba(46, 46, 46, 0.521), rgba(0,0,0.08)),url(assets/t2\.png);
    color: rgb(255, 255, 255);
    background-size: contain;
}

.c{
    width: 400px;
    height: 230px;
    background: url(assets/t1.png);
    transition: all 0.3s;
    border-radius: 3px;
    font-weight: 600;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
}
.c:hover{
    width: 400px;
    height: 230px;
    border-radius: 3px;
    background: linear-gradient(rgba(46, 46, 46, 0.521), rgba(0,0,0.08)),url(assets/t1.png);
    color: rgb(255, 255, 255);
    background-size: contain;
}

.d{
    width: 400px;
    height: 230px;
    background: url(assets/t1.png);
    transition: all 0.3s;
    border-radius: 3px;
    font-weight: 600;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
}
.d:hover{
    width: 400px;
    height: 230px;
    border-radius: 3px;
    background: linear-gradient(rgba(46, 46, 46, 0.521), rgba(0,0,0.08)),url(assets/t1.png);
    color: rgb(255, 255, 255);
    background-size: contain;
}

.e{
    width: 400px;
    height: 230px;
    background: url(assets/t1.png);
    transition: all 0.3s;
    border-radius: 3px;
    font-weight: 600;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
}
.e:hover{
    width: 400px;
    height: 230px;
    border-radius: 3px;
    background: linear-gradient(rgba(46, 46, 46, 0.521), rgba(0,0,0.08)),url(assets/t1.png);
    color: rgb(255, 255, 255);
    background-size: contain;
}

.f{
    width: 400px;
    height: 230px;
    background: url(assets/t1.png);
    transition: all 0.3s;
    border-radius: 3px;
    font-weight: 600;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
}
.f:hover{
    width: 400px;
    height: 230px;
    border-radius: 3px;
    background: linear-gradient(rgba(46, 46, 46, 0.521), rgba(0,0,0.08)),url(assets/t1.png);
    color: rgb(255, 255, 255);
    background-size: contain;
}

